<table
        class="table">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Telefone</th>
                <th>Fechar</th>
                <th>Acionar</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr class="">
                <td scope="row">{{cliente.id}} </td>
                <td>{{cliente.nome}}</td>
                <td>{{cliente.telefone}}</td>
                <td>Item</td>
                <td>
                    <a href="http://" class="btn btn-success">editar</a>
                    <a href="http://" class="btn btn-danger">excluir</a>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>